[submodule "Workspace/deps/chatkit-js"]
	path = Workspace/deps/chatkit-js
	url = https://github.com/openai/chatkit-js
[submodule "External/SDLKit"]
	path = External/SDLKit
	url = https://github.com/Fountain-Coach/SDLKit.git
[submodule "External/TeatroFull"]
	path = External/TeatroFull
	url = https://github.com/Fountain-Coach/Teatro.git
[submodule "External/midi2sampler"]
	path = External/midi2sampler
	url = https://github.com/Fountain-Coach/midi2sampler.git
