---
openapi: 3.1.0
info:
  title: FountainAI LLM Gateway
  description: Proxy to any LLM with function-calling support.
  version: 2.0.0
servers:
  - url: http://llm-gateway.fountain.coach/api/v1
paths:
  /metrics:
    get:
      summary: Metrics
      description: Endpoint that serves Prometheus metrics.
      operationId: metrics_metrics_get
      x-fountain.visibility: public
      x-fountain.reason: ""
      x-fountain.allow-as-tool: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
  /chat:
    post:
      tags:
        - Chat
      summary: Chat with Planner Objective
      description: >
        Receives the user's objective, loads available tools,
        and delegates reasoning to GPT.
      operationId: chatWithObjective
      x-fountain.visibility: public
      x-fountain.reason: ""
      x-fountain.allow-as-tool: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties: {}
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  components:
    schemas:
    ChatRequest:
      title: ChatRequest
      type: object
      required:
        - model
        - messages
      properties:
        model:
          type: string
          title: Model
        messages:
          title: Messages
          type: array
          items:
            $ref: '#/components/schemas/MessageObject'
        functions:
          title: Functions
          type: array
          items:
            $ref: '#/components/schemas/FunctionObject'
        function_call:
          title: Function Call
          oneOf:
            - type: string
              enum: [auto]
            - $ref: '#/components/schemas/FunctionCallObject'
    FunctionCallObject:
      title: FunctionCallObject
      type: object
      properties:
        name:
          type: string
      required:
        - name
    MessageObject:
      title: MessageObject
      type: object
      required:
        - role
        - content
      properties:
        role:
          type: string
          description: Role of the sender (e.g. user, assistant)
        content:
          type: string
          description: Message text content
    FunctionObject:
      title: FunctionObject
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: Name of the function
        description:
          type: string
          description: Optional description of the function
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      type: object
      required:
        - loc
        - msg
        - type
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
              - type: string
              - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string

# © 2025 Contexter alias Benedikt Eickhoff 🛡️ All rights reserved.
